.App {
  text-align: center;
}

.App-header {
  background-color: #76818d;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header img {
  height: 4rem;
  margin-right: 1rem;
}

main {
  padding: 20px;
}

.bio {
  background-color: saddlebrown;
  color: white;
}

.gs {
  background-color: yellow;
}

.pt {
  background-color: blue;
  color: white;
}

.hm {
  background-color: black;
  color: white;
}

.gm {
  background-color: green;
  color: white;
}

.gs .fc-event-title-container {
  color: black;
}

.fc-event {
  padding: 1rem;
  font-weight: bold;
}

.legend {
  padding: 0 2rem;
}

.legend th {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.legend td {
  text-align: left;
  padding-left: 0.75rem;
}

.legend-wrap {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.enable-notifications {
  background: #2c3e50;
  border: #2c3e50;
  vertical-align: middle;
  font-size: 1.5rem;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}